<!DOCTYPE html>
<html>
<head>
  <title>Bgdev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">本钢设备评估体系系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="#"></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">注册</a></li>
            <li><a href="#">登录</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>
<div id="main" class="container">
    <%= yield %>
</div>
<footer>
    <h5>
        &copy;本钢设备部信息处技术支持 <br>
        联系电话：18004148181
    </h5>
</footer>
</body>
</html>
